
header {
    color: #b18e76;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
   
}


textarea[name="user-input"] { 
    width: 50%;
    max-width: 400px;
   
}
 
#cajas1 {
    position: relative;
    bottom:-15px;
    right: 100px;
}

#cajas2 {

    position: relative;
    bottom:40px;
    left: 100px;
}

.counter {
    list-style-type:none;
    font-family: Arial, Helvetica, sans-serif;    
       

}

#reset-button {
    background-color: #ebc8b2;
    color: black;
    border: #ebc8b2 solid;
    border-radius: 6px;
    padding: 5px;  

}

#reset-button:hover{
    background-color: #c0c0c0;
    color: white;
    border: #c0c0c0;
    border-radius: 6px;
    padding: 5px; 
}

footer { 
    color:#c0c0c0;
    
}
